<!-- <h1>Webs#descubre</h1>
<p>Find me in app/views/webs/descubre.html.erb</p> -->

<div class="textoimagen">
    <%= image_tag("Brochazo01.png", size: "550x55") %>
    <div class="textosobre"> <font  color="navajowhite" face="Titillium Web" style=font-size:200%>Descubre Datos de Interés</font></div>
</div></b>

<style>
.textoimagen{
    position: relative;
    display: block;
    text-align: center;
}

.textosobre{
    position: absolute;
    top: 45%;
    left: 50%;
    right: -15%;
    transform: translate(-50%, -50%);
}
</style>
