<!-- <h1>Webs#home</h1> 
<p>Find me in app/views/webs/home.html.erb</p> -->

<!-- <b><font  color="maroon" face="Brush Script MT" style=font-size:250%> Bienvenid@...</font> -->
<div class="textoimagen">
    <%= image_tag("Brochazo01.png", size: "550x55") %>
    <div class="textosobre"> <font  color="navajowhite" face="Titillium Web" style=font-size:200%>Bienvenid@... Elige tu categoría favorita</font></div>
</div></b>

<style>
.textoimagen{
    position: relative;
    display: block;
    text-align: center;
}

.textosobre{
    position: absolute;
    top: 45%;
    left: 50%;
    right: -15%;
    transform: translate(-50%, -50%);
}
</style>
