<!-- <h1>Webs#somos</h1>
<p>Find me in app/views/webs/somos.html.erb</p>
<b><font  color="maroon" face="Brush Script MT" style=font-size:250%> Bienvenidos </font> <br> -->

<div class="textoimagen">
    <%= image_tag("Brochazo01.png", size: "500x45") %>
    <div class="textosobre"> <font  color="blanchedalmond" face="Titillium Web" style=font-size:170%>Bienvenid@... Conócenos</font></div>
</div></b>

<style>
.textoimagen{
    position: relative;
    display: block;
    text-align: center;
}

.textosobre{
    position: absolute;
    top: 45%;
    left: 50%;
    right: -15%;
    transform: translate(-50%, -50%);
}
</style>

<div style="float: left">
    <%= image_tag("Logos3EIRL01cafe.png", size: "110x280") %> 
</div>

<div class="justificatexto">

    <b><font color="maroon" face="Titillium Web" style=font-size:130%>Quienes somos:</font>
    <blockquote>
        <b><font color="firebrick" face="Titillium Web" style=font-size:100%>Entre Mieles, Té y Café es un desafío de Emprendimiento familiar ubicado en la Tierra de Sol y Cobre, Calama... La idea de emprender nace el año 2014 al alero de los eventos de cultura asiática en los cuales nuestra hija participaba como Cosplayer (y aún lo hace, pero ahora también es makeplayer) siendo nuestro primer nombre de fantasía NEKO KAWAII... así estuvimos tratando de obtener la independencia durante un par de años, sin lograrlo, a lo que posteriormente se sumaron los estragos que causó la pandemia y finalmente detuvieron totalmente el proyecto al suspenderse todos los eventos masivos.  Pasaron varios años y así llegó el último semestre de 2021 y volvió el impetú de reflotar nuestro emprendimiento.  Fue así que cambiando de giro comenzamos la venta de Mieles de Abeja Premium, con más de 30 variedades... nace así... LULAN CKACKCHI, proveniente de la lengua de nuestros ancestros el Ckunza, traduciéndose como miel de sabor. En 2022 acrecentó el desafío y se incorporan nuevos productos, como el café en sus variedades grano, molido, instantáneo saborizado y vegano, cápsulas compatibles para Dolce Gusto y Nespresso.  Además té en hojas a granel y envasado y otros productos que verán en esta página... Para facilitar la búsqueda de nuestro emprendimiento en RR.SS. para abarcar los nuevos productos creamos nuestro actual nombre de fantasía... ENTRE MIELES, TÉ Y CAFÉ...</font></b>
    </blockquote>

    <b><font color="maroon" face="Titillium Web" style=font-size:130%>Misión:</font>
    <blockquote>
        <b><font color="firebrick" face="Titillium Web" style=font-size:100%>Entregar productos y servicios de calidad, a precio ético, justo y en tiempos oportunos para la comunidad de Calama y alrededores... Lo anterior lo hacemos mediante un compromiso de respeto hacia nuestros clientes, proveedores y el entorno.</font></b>
    </blockquote>

    <b><font color="maroon" face="Titillium Web" style=font-size:130%>Visión:</font>
    <blockquote>
        <b><font color="firebrick" face="Titillium Web" style=font-size:100%>Ser un emprendimiento reconocido positivamente y que entrega valor agregado a la comunidad de Calama y en un futuro próximo un e-commerce a nivel país...</font></b>
    </blockquote>

    <b> <font color="maroon" face="Titillium Web" style=font-size:130%>Valores:</font>
    <blockquote>
        <b><font color="firebrick" face="Titillium Web" style=font-size:100%>Los valores que nos impulsan día a día son... Ética, Transparencia, Cumpliento Oportuno, Respeto, Calidad y la mejora continua...</font></b>
    </blockquote>
</blockquote>
</div>

<style>
.justificatexto{
    text-align: justify;
    margin-right: 3%;
    margin-left: 9%;
}
</style>