body {
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-size: small;
    color: #000;
    background-color: #ebd6ac;
    }
    
a:link, a:active, a:visited {
    color: #CD0000;
    }

input { 
    margin-bottom: 5px;
    margin-top: 5px;
    background-color:blanchedalmond;
    }

p { 
    line-height: 150%;
    display: inline-table;
    }

div#container {
    width: 97%;
    margin: -10px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    }

header#header {
    text-align: center;
    padding-bottom: 1px;
    padding-top: 10px;
    padding-right: 10px;
    width: 100%;
    }

div#content {
    float: left;
    width: 450px;
    padding: 10px;
    }

div#content h3 {
    margin-top: 15px;
    }

div#sidebar {
    width: 200px;
    margin-left: 480px;
    }

#recipes_title {
    text-align: center;
}

footer {
    text-align: center; 
    font-family: Titillium Web, Arial, Verdana; 
}

.card-title{
  color: #C70039;
  font-family: Titillium Web, Arial, Verdana;
  font-size: 140%;
  text-align: center;
  font-weight:bold;
}

.card-marca{
  color: rgb(43, 195, 46);
  font-family: Titillium Web;
  font-size: 130%;
  align: center;
  font-weight:bold;
}

.card-text{
  color: black;
  font-family: Titillium Web;
  font-size: 100%;
  align: center;
  font-weight:bold;
}

#precio {
    text-align: right;
    font-family: 'Franklin Gothic','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orangered;
    font-weight: bold;
}

.team-boxed {
  color:#313437;
  background-color:#ebd6ac;
  width: 97%;
}

.team-boxed p {
  color:brown;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:10px;
  padding-top:10px;
  color:maroon;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:15px;
    padding-top:15px;
    font-size:24px;
  }
}

.team-boxed .intro {
  font-size:18px;
  max-width:700px;
  margin:0 auto;
}

.team-boxed .intro p {
  margin-top: 2px;
  margin-bottom:0;
  color:maroon;
  font-family:Titillium Web, Arial, Verdana;
  font-size:100%;
  text-align: center;
}

.team-boxed .people {
  padding:10px 0;
  color:maroon;
}

.team-boxed .item {
  text-align:center;
}

.team-boxed .item .box {
  text-align:center;
  padding:10px;
  background-color: blanchedalmond;
  margin-bottom:30px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  font-family: Titillium Web, Arial, Verdana;
  font-size:124%;
  color:maroon;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color: orangered;
  letter-spacing:1px;
  font-family: Titillium Web, Arial, Verdana;
  font-size:85%;
}

.team-boxed .item .description {
  margin-top:10px;
  margin-bottom:20px;
  font-weight:bold;
  font-family: Titillium Web, Arial, Verdana;
  font-size:100%;
  color: maroon;
}

.team-boxed .item img {
  max-width:160px;
}

.team-boxed .social {
  font-size:18px;
  color:crimson;
}

.team-boxed .social a {
  color:orangered;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-boxed .social a:hover {
  opacity:1;
}

.card {
  background-color:blanchedalmond;
}

.card-body .name {
  font-weight:bold;
  color:maroon;
  margin-top:8px;
  margin-bottom:10px;
  font-family: Titillium Web, Arial, Verdana;
  font-size:108%;
}

.card-body .title {
  font-weight:bold;
  color:orangered;
  margin-top:5px;
  margin-bottom:10px;
  text-align: justify;
  font-family: Titillium Web, Arial, Verdana;
  font-size:100%;
}

.form-control {
  font-weight:bold;
  background-color:blanchedalmond;
  font-family: Titillium Web, Arial, Verdana;
}

.btn {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight:bold;
  font-size:95%;
  font-family: Titillium Web, Arial, Verdana;
  text-align: center;
  color:maroon;
}

.col-sm-1 {
  margin-top: 10px;
  margin-right: 100px;
}

.p-2 {
  width: 11rem;
}

.textoimagen{
  position: relative;
  display: block;
  left: 5%;
  text-align: center;
}

.textosobre{
  position: absolute;
  top: 45%;
  left: 50%;
  right: -15%;
  transform: translate(-50%, -50%);
}

.textosobre2{
  position: absolute;
  top: 45%;
  left: 50%;
  right: -15%;
  transform: translate(-50%, -50%);
}

.container .intro {
  color:maroon;
  font-family:Titillium Web, Arial, Verdana;
  font-size:130%;
  text-align: center;
  margin-left: 270px;
}
.container-fluid{
  font-weight: bold;
  display: inline-block;
  font-family: Titillium Web, Arial, Verdana;
  color:maroon;
}

.nuevalabel{
  margin-top: 10px;
  font-weight: bold;
  display: block;
  font-size:120%;
  font-family: Titillium Web, Arial, Verdana;
  color:maroon;
  text-align: left;
  margin-left: 430px;
}

.nuevacont{
  font-weight: bold;
  display: block;
  font-family: Titillium Web, Arial, Verdana;
  color:maroon;
  text-align: left;
  margin-left: 0px;
}

.nuevabut{
    font-weight: bold;
    font-family: "Titillium Web";
    font-size: 120%;
}

.zona{
  margin-top: -10px;
}

.cierra{
  margin-top: -33px;
}

a:link{
  color: red
}

.btn-success{
  font-family: Titillium Web, Arial, Verdana;
  margin-top: 25px;
  margin-left: 50px;
}

#email_usuario{
  margin-bottom: 5px;
  margin-top: 5px;
  width: 8cm;
  background-color: blanchedalmond;
}

#password{
  margin-bottom: 10px;
  margin-top: 5px;
  width: 5cm;
  background-color: blanchedalmond;
}

.zonaid{
  display: flex;
  margin-top: 5px;
}

.textosobre3{
  position: absolute;
  top: 30%;
  left: 50%;
  right: -15%;
  transform: translate(-50%, -50%);
}

.noauten{
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.alert-warning{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.inicia{
  margin-top: -10px;
}

.registra{
  margin-top: -33px;
}

.btn-outline-dark{
  font-family: Titillium Web, Arial, Verdana;
}

.labelreg{
  margin-top: 5px;
  font-weight: bold;
  display: inline-block;
  font-size:100%;
  font-family: Titillium Web, Arial, Verdana;
  color:maroon;
  text-align: left;
  margin-left: 10px;
}

.datoreg{
  font-weight: bold;
  display: block;
  font-family: Titillium Web, Arial, Verdana;
  color:maroon;
  text-align: left;
  margin-left: 0px;
}
