<!-- <h1>Registros#new</h1>
<p>Find me in app\views\registros\new.html.erb</p>

Formulario de Registro de Clientes / Administradores-->

<div class="textoimagen">
    <%= image_tag("Brochazo01.png", size: "500x45") %>
    <div class="textosobre2"> <font  color="blanchedalmond" face="Titillium Web" style=font-size:170%>Registro Clientes</font></div>
</div><br>

<!--  <form action="/" method="post"> -->
<%= form_for @user do |fm| %> 
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    
    <div class="labelreg">
        <label fm="ci_usuario">Cédula Identidad</label>
        <div class="datoreg">
            <input type="integer" id="ci_usuario" name="ci_usuario", style="width: 90px">
        </div>
    </div>
    
    <div class="labelreg">
        <label fm="dv_usuario">DV</label>
        <div class="datoreg">
            <input type="text" id="dv_usuario" name="dv_usuario", style="width: 20px">
        </div>
    </div>
    
    <div class="labelreg">
        <label fm="nombre_usuario">Nombre</label>
        <div class="datoreg">
            <input type="text" id="nombre_usuario" name="nombre_usuario", style="width: 120px">
        </div>
    </div>
    
    <div class="labelreg">
        <label fm="apellidos_usuario">Apellidos</label>
        <div class="datoreg">
            <input type="text" id="apellidos_usuario" name="apellidos_usuario", style="width: 200px">
        </div>
    </div>

    <div class="labelreg">
        <label fm="fechanac_usuario">Fecha de Nacimiento</label>
        <div class="datoreg">
            <input type="date" id="fechanac_usuario" name="fechanac_usuario">
        </div>
    </div>

    <div class="labelreg">
        <label fm="telefono_usuario">N° Teléfono Móvil</label>
        <div class="datoreg">
            <input type="text" id="telefono_usuario" name="telefono_usuario">
        </div>
    </div>
    
    <div class="labelreg">
        <label fm="email_usuario">Correo Electrónico</label>
        <div class="datoreg">
            <input type="email" id="email_usuario" name="email_usuario">
        </div>
    </div>
    <br>
    <div class="labelreg">
        <!-- <label for="imagen_usuario">Archivo Fotografía:</label> -->
        <label class="input-group-text-padding: 20px" fm="imagen_usuario">Fotografía</label>
        <div class="datoreg">
            <div class="input-group sm-3">
                <select class="form-select-font-size:60%" style="background-color: blanchedalmond" id="imagen_usuario" name="imagen_usuario">
                    <option value="Usuarioanonimo.png">Usuarioanonimo.png</option>
                </select>
                <!-- <input type="text" id="imagen_usuario" name = "imagen_usuario"> -->
            </div>        
        </div>
    </div>
    
    <div class="labelreg">
        <label fm="domicilio_usuario">Domicilio</label>
        <div class="datoreg">
            <input type="text" id="domicilio_usuario" name="domicilio_usuario", style="width: 400px">
        </div>
    </div>

    <div class="labelreg">
        <!-- <label for="region_usuario">Región:</label> -->
        <label class="input-group-text-padding: 20px" fm="region_usuario">Región</label>
        <div class="datoreg">
            <div class="input-group sm-3">
                <select class="form-select-font-size:60%" style="background-color: blanchedalmond" id="region_usuario" name="region_usuario">
                    <option selected>Seleccione Región...</option>
                    <option value="Arica y Parinacota">Arica y Parinacota</option>
                    <option value="Tarapacá">Tarapacá</option>
                    <option value="Antofagasta">Antofagasta</option>
                    <option value="Atacam">Atacama</option>
                    <option value="Coquimbo">Coquimbo</option>
                    <option value="Valparaíso">Valparaíso</option>
                    <option value="Libertador Gral. Bernardo O’Higgins">Libertador Gral. Bernardo O’Higgins</option>
                    <option value="Maule">Maule</option>
                    <option value="Biobío">Biobío</option>
                    <option value="Ñuble">Ñuble</option>
                    <option value="Araucanía">Araucanía</option>
                    <option value="Los Ríos">Los Ríos</option>
                    <option value="Los Lagos">Los Lagos</option>
                    <option value="Aysén del Gral. Carlos Ibáñez del Campo">Aysén del Gral. Carlos Ibáñez del Campo</option>
                    <option value="Magallanes y Antártica Chilena">Magallanes y Antártica Chilena</option>
                    <option value="Metropolitana de Santiago">Metropolitana de Santiago</option>
                </select>
                <!-- <input type="text" id="region_usuario" name = "region_usuario"> -->
            </div>
        </div>
    </div>
    
    <div class="labelreg">
        <!-- <label for="comuna_usuario">Comuna:</label> -->
    <label class="input-group-text-padding: 20px" fm="comuna_usuario">Comuna</label>
        <div class="datoreg">
            <div class="input-group sm-3">
                <select class="form-select-font-size:60%" style="background-color: blanchedalmond" id="comuna_usuario" name="comuna_usuario">
                    <option selected>Seleccione Comuna...</option>
                    <option value="Arica">Arica</option>
                    <option value="Camarones">Camarones</option>
                    <option value="Putre">Putre</option>
                    <option value="General Lagos">General Lagos</option>
                    <option value="Iquique">Iquique</option>
                    <option value="Alto Hospicio">Alto Hospicio</option>
                    <option value="Pozo Almonte">Pozo Almonte</option>
                    <option value="Camiña">Camiña</option>
                    <option value="Colchane">Colchane</option>
                    <option value="Huara">Huara</option>
                    <option value="Pica">Pica</option>
                    <option value="Antofagasta">Antofagasta</option>
                    <option value="Mejillones">Mejillones</option>
                    <option value="Sierra Gorda">Sierra Gorda</option>
                    <option value="Taltal">Taltal</option>
                    <option value="Calama">Calama</option>
                    <option value="Ollagüe">Ollagüe</option>
                    <option value="San Pedro de Atacama">San Pedro de Atacama</option>
                    <option value="Tocopilla">Tocopilla</option>
                    <option value="María Elena">María Elena</option>
                    <option value="Copiapó">Copiapó</option>
                    <option value="Caldera">Caldera</option>
                    <option value="Tierra Amarilla">Tierra Amarilla</option>
                    <option value="Chañaral">Chañaral</option>
                    <option value="Diego de Almagro">Diego de Almagro</option>
                    <option value="Vallenar">Vallenar</option>
                    <option value="Alto del Carmen">Alto del Carmen</option>
                    <option value="Freirina">Freirina</option>
                    <option value="Huasco">Huasco</option>
                    <option value="La Serena">La Serena</option>
                    <option value="Coquimbo">Coquimbo</option>
                    <option value="Andacollo">Andacollo</option>
                    <option value="La Higuera">La Higuera</option>
                    <option value="Paiguano">Paiguano</option>
                    <option value="Vicuña">Vicuña</option>
                    <option value="Illapel">Illapel</option>
                    <option value="Canela">Canela</option>
                    <option value="Los Vilos">Los Vilos</option>
                    <option value="Salamanca">Salamanca</option>
                    <option value="Ovalle">Ovalle</option>
                    <option value="Combarbalá">Combarbalá</option>
                    <option value="Monte Patria">Monte Patria</option>
                    <option value="Punitaqui">Punitaqui</option>
                    <option value="Río Hurtado">Río Hurtado</option>
                    <option value="Valparaíso">Valparaíso</option>
                    <option value="Casablanca">Casablanca</option>
                    <option value="Concón">Concón</option>
                    <option value="Juan Fernández">Juan Fernández</option>
                    <option value="Puchuncaví">Puchuncaví</option>
                    <option value="Quintero">Quintero</option>
                    <option value="Viña del Mar">Viña del Mar</option>
                    <option value="Isla de Pascua">Isla de Pascua</option>
                    <option value="Los Andes">Los Andes</option>
                    <option value="Calle Larga">Calle Larga</option>
                    <option value="Rinconada">Rinconada</option>
                    <option value="San Esteban">San Esteban</option>
                    <option value="La Ligua">La Ligua</option>
                    <option value="Cabildo">Cabildo</option>
                    <option value="Papudo">Papudo</option>
                    <option value="Petorca">Petorca</option>
                    <option value="Zapallar">Zapallar</option>
                    <option value="Quillota">Quillota</option>
                    <option value="Calera">Calera</option>
                    <option value="Hijuelas">Hijuelas</option>
                    <option value="La Cruz">La Cruz</option>
                    <option value="Nogales">Nogales</option>
                    <option value="San Antonio">San Antonio</option>
                    <option value="Algarrobo">Algarrobo</option>
                    <option value="Cartagena">Cartagena</option>
                    <option value="El Quisco">El Quisco</option>
                    <option value="El Tabo">El Tabo</option>
                    <option value="Santo Domingo">Santo Domingo</option>
                    <option value="San Felipe">San Felipe</option>
                    <option value="Catemu">Catemu</option>
                    <option value="Llaillay">Llaillay</option>
                    <option value="Panquehue">Panquehue</option>
                    <option value="Putaendo">Putaendo</option>
                    <option value="Santa María">Santa María</option>
                    <option value="Quilpué">Quilpué</option>
                    <option value="Limache">Limache</option>
                    <option value="Olmué">Olmué</option>
                    <option value="Villa Alemana">Villa Alemana</option>
                    <option value="Rancagua">Rancagua</option>
                    <option value="Codegua">Codegua</option>
                    <option value="Coinco">Coinco</option>
                    <option value="Coltauco">Coltauco</option>
                    <option value="Doñihue">Doñihue</option>
                    <option value="Graneros">Graneros</option>
                    <option value="Las Cabras">Las Cabras</option>
                    <option value="Machalí">Machalí</option>
                    <option value="Malloa">Malloa</option>
                    <option value="Mostazal">Mostazal</option>
                    <option value="Olivar">Olivar</option>
                    <option value="Peumo">Peumo</option>
                    <option value="Pichidegua">Pichidegua</option>
                    <option value="Quinta de Tilcoco">Quinta de Tilcoco</option>
                    <option value="Rengo">Rengo</option>
                    <option value="Requínoa">Requínoa</option>
                    <option value="San Vicente">San Vicente</option>
                    <option value="Pichilemu">Pichilemu</option>
                    <option value="La Estrella">La Estrella</option>
                    <option value="Litueche">Litueche</option>
                    <option value="Marchihue">Marchihue</option>
                    <option value="Navidad">Navidad</option>
                    <option value="Paredones">Paredones</option>
                    <option value="San Fernando">San Fernando</option>
                    <option value="Chépica">Chépica</option>
                    <option value="Chimbarongo">Chimbarongo</option>
                    <option value="Lolol">Lolol</option>
                    <option value="Nancagua">Nancagua</option>
                    <option value="Palmilla">Palmilla</option>
                    <option value="Peralillo">Peralillo</option>
                    <option value="Placilla">Placilla</option>
                    <option value="Pumanque">Pumanque</option>
                    <option value="Santa Cruz">Santa Cruz</option>
                    <option value="Talca">Talca</option>
                    <option value="Constitución">Constitución</option>
                    <option value="Curepto">Curepto</option>
                    <option value="Empedrado">Empedrado</option>
                    <option value="Maule">Maule</option>
                    <option value="Pelarco">Pelarco</option>
                    <option value="Pencahue">Pencahue</option>
                    <option value="Río Claro">Río Claro</option>
                    <option value="San Clemente">San Clemente</option>
                    <option value="San Rafael">San Rafael</option>
                    <option value="Cauquenes">Cauquenes</option>
                    <option value="Chanco">Chanco</option>
                    <option value="Pelluhue">Pelluhue</option>
                    <option value="Curicó">Curicó</option>
                    <option value="Hualañé">Hualañé</option>
                    <option value="Licantén">Licantén</option>
                    <option value="Molina">Molina</option>
                    <option value="Rauco">Rauco</option>
                    <option value="Romeral">Romeral</option>
                    <option value="Sagrada Familia">Sagrada Familia</option>
                    <option value="Teno">Teno</option>
                    <option value="Vichuquén">Vichuquén</option>
                    <option value="Linares">Linares</option>
                    <option value="Colbún">Colbún</option>
                    <option value="Longaví">Longaví</option>
                    <option value="Parral">Parral</option>
                    <option value="Retiro">Retiro</option>
                    <option value="San Javier">San Javier</option>
                    <option value="Villa Alegre">Villa Alegre</option>
                    <option value="Yerbas Buenas">Yerbas Buenas</option>
                    <option value="Concepción">Concepción</option>
                    <option value="Coronel">Coronel</option>
                    <option value="Chiguayante">Chiguayante</option>
                    <option value="Florida">Florida</option>
                    <option value="Hualqui">Hualqui</option>
                    <option value="Lota">Lota</option>
                    <option value="Penco">Penco</option>
                    <option value="San Pedro de la Paz">San Pedro de la Paz</option>
                    <option value="Santa Juana">Santa Juana</option>
                    <option value="Talcahuano">Talcahuano</option>
                    <option value="Tomé">Tomé</option>
                    <option value="Hualpén">Hualpén</option>
                    <option value="Lebu">Lebu</option>
                    <option value="Arauco">Arauco</option>
                    <option value="Cañete">Cañete</option>
                    <option value="Contulmo">Contulmo</option>
                    <option value="Curanilahue">Curanilahue</option>
                    <option value="Los Álamos">Los Álamos</option>
                    <option value="Tirúa">Tirúa</option>
                    <option value="Los Ángeles">Los Ángeles</option>
                    <option value="Antuco">Antuco</option>
                    <option value="Cabrero">Cabrero</option>
                    <option value="Laja">Laja</option>
                    <option value="Mulchén">Mulchén</option>
                    <option value="Nacimiento">Nacimiento</option>
                    <option value="Negrete">Negrete</option>
                    <option value="Quilaco">Quilaco</option>
                    <option value="Quilleco">Quilleco</option>
                    <option value="San Rosendo">San Rosendo</option>
                    <option value="Santa Bárbara">Santa Bárbara</option>
                    <option value="Tucapel">Tucapel</option>
                    <option value="Yumbel">Yumbel</option>
                    <option value="Alto Biobío">Alto Biobío</option>
                    <option value="Chillán">Chillán</option>
                    <option value="Chillán Viejo">Chillán Viejo</option>
                    <option value="Quillón">Quillón</option>
                    <option value="Bulnes">Bulnes</option>
                    <option value="San Ignacio">San Ignacio</option>
                    <option value="El Carmen">El Carmen</option>
                    <option value="Pinto">Pinto</option>
                    <option value="Pemuco">Pemuco</option>
                    <option value="Yungay">Yungay</option>
                    <option value="San Carlos">San Carlos</option>
                    <option value="Coihueco">Coihueco</option>
                    <option value="San Nicolás">San Nicolás</option>
                    <option value="San Fabián">San Fabián</option>
                    <option value="Ñiquén">Ñiquén</option>
                    <option value="Quirihue">Quirihue</option>
                    <option value="Cobquecura">Cobquecura</option>
                    <option value="Ninhue">Ninhue</option>
                    <option value="Treguaco">Treguaco</option>
                    <option value="Coelemu">Coelemu</option>
                    <option value="Portezuelo">Portezuelo</option>
                    <option value="Ránquil">Ránquil</option>
                    <option value="Temuco">Temuco</option>
                    <option value="Carahue">Carahue</option>
                    <option value="Cunco">Cunco</option>
                    <option value="Curarrehue">Curarrehue</option>
                    <option value="Freire">Freire</option>
                    <option value="Galvarino">Galvarino</option>
                    <option value="Gorbea">Gorbea</option>
                    <option value="Lautaro">Lautaro</option>
                    <option value="Loncoche">Loncoche</option>
                    <option value="Melipeuco">Melipeuco</option>
                    <option value="Nueva Imperial">Nueva Imperial</option>
                    <option value="Padre las Casas">Padre las Casas</option>
                    <option value="Perquenco">Perquenco</option>
                    <option value="Pitrufquén">Pitrufquén</option>
                    <option value="Pucón">Pucón</option>
                    <option value="Saavedra">Saavedra</option>
                    <option value="Teodoro Schmidt">Teodoro Schmidt</option>
                    <option value="Toltén">Toltén</option>
                    <option value="Vilcún">Vilcún</option>
                    <option value="Villarrica">Villarrica</option>
                    <option value="Cholchol">Cholchol</option>
                    <option value="Angol">Angol</option>
                    <option value="Collipulli">Collipulli</option>
                    <option value="Curacautín">Curacautín</option>
                    <option value="Ercilla">Ercilla</option>
                    <option value="Lonquimay">Lonquimay</option>
                    <option value="Los Sauces">Los Sauces</option>
                    <option value="Lumaco">Lumaco</option>
                    <option value="Purén">Purén</option>
                    <option value="Renaico">Renaico</option>
                    <option value="Traiguén">Traiguén</option>
                    <option value="Victoria">Victoria</option>
                    <option value="Valdivia">Valdivia</option>
                    <option value="Corral">Corral</option>
                    <option value="Lanco">Lanco</option>
                    <option value="Los Lagos">Los Lagos</option>
                    <option value="Máfil">Máfil</option>
                    <option value="Mariquina">Mariquina</option>
                    <option value="Paillaco">Paillaco</option>
                    <option value="Panguipulli">Panguipulli</option>
                    <option value="La Unión">La Unión</option>
                    <option value="Futrono">Futrono</option>
                    <option value="Lago Ranco">Lago Ranco</option>
                    <option value="Río Bueno">Río Bueno</option>
                    <option value="Puerto Montt">Puerto Montt</option>
                    <option value="Calbuco">Calbuco</option>
                    <option value="Cochamó">Cochamó</option>
                    <option value="Fresia">Fresia</option>
                    <option value="Frutillar">Frutillar</option>
                    <option value="Los Muermos">Los Muermos</option>
                    <option value="Llanquihue">Llanquihue</option>
                    <option value="Maullín">Maullín</option>
                    <option value="Puerto Varas">Puerto Varas</option>
                    <option value="Castro">Castro</option>
                    <option value="Ancud">Ancud</option>
                    <option value="Chonchi">Chonchi</option>
                    <option value="Curaco de Vélez">Curaco de Vélez</option>
                    <option value="Dalcahue">Dalcahue</option>
                    <option value="Puqueldón">Puqueldón</option>
                    <option value="Queilén">Queilén</option>
                    <option value="Quellón">Quellón</option>
                    <option value="Quemchi">Quemchi</option>
                    <option value="Quinchao">Quinchao</option>
                    <option value="Osorno">Osorno</option>
                    <option value="Puerto Octay">Puerto Octay</option>
                    <option value="Purranque">Purranque</option>
                    <option value="Puyehue">Puyehue</option>
                    <option value="Río Negro">Río Negro</option>
                    <option value="San Juan de la Costa">San Juan de la Costa</option>
                    <option value="San Pablo">San Pablo</option>
                    <option value="Chaitén">Chaitén</option>
                    <option value="Futaleufú">Futaleufú</option>
                    <option value="Hualaihué">Hualaihué</option>
                    <option value="Palena">Palena</option>
                    <option value="Coihaique">Coihaique</option>
                    <option value="Lago Verde">Lago Verde</option>
                    <option value="Aisén">Aisén</option>
                    <option value="Cisnes">Cisnes</option>
                    <option value="Guaitecas">Guaitecas</option>
                    <option value="Cochrane">Cochrane</option>
                    <option value="O’Higgins">O’Higgins</option>
                    <option value="Tortel">Tortel</option>
                    <option value="Chile Chico">Chile Chico</option>
                    <option value="Río Ibáñez">Río Ibáñez</option>
                    <option value="Punta Arenas">Punta Arenas</option>
                    <option value="Laguna Blanca">Laguna Blanca</option>
                    <option value="Río Verde">Río Verde</option>
                    <option value="San Gregorio">San Gregorio</option>
                    <option value="Cabo de Hornos">Cabo de Hornos</option>
                    <option value="Antártica">Antártica</option>
                    <option value="Porvenir">Porvenir</option>
                    <option value="Primavera">Primavera</option>
                    <option value="Timaukel">Timaukel</option>
                    <option value="Natales">Natales</option>
                    <option value="Torres del Paine">Torres del Paine</option>
                    <option value="Santiago">Santiago</option>
                    <option value="Cerrillos">Cerrillos</option>
                    <option value="Cerro Navia">Cerro Navia</option>
                    <option value="Conchalí">Conchalí</option>
                    <option value="El Bosque">El Bosque</option>
                    <option value="Estación Central">Estación Central</option>
                    <option value="Huechuraba">Huechuraba</option>
                    <option value="Independencia">Independencia</option>
                    <option value="La Cisterna">La Cisterna</option>
                    <option value="La Florida">La Florida</option>
                    <option value="La Granja">La Granja</option>
                    <option value="La Pintana">La Pintana</option>
                    <option value="La Reina">La Reina</option>
                    <option value="Las Condes">Las Condes</option>
                    <option value="Lo Barnechea">Lo Barnechea</option>
                    <option value="Lo Espejo">Lo Espejo</option>
                    <option value="Lo Prado">Lo Prado</option>
                    <option value="Macul">Macul</option>
                    <option value="Maipú">Maipú</option>
                    <option value="Ñuñoa">Ñuñoa</option>
                    <option value="Pedro Aguirre Cerda">Pedro Aguirre Cerda</option>
                    <option value="Peñalolén">Peñalolén</option>
                    <option value="Providencia">Providencia</option>
                    <option value="Pudahuel">Pudahuel</option>
                    <option value="Quilicura">Quilicura</option>
                    <option value="Quinta Normal">Quinta Normal</option>
                    <option value="Recoleta">Recoleta</option>
                    <option value="Renca">Renca</option>
                    <option value="San Joaquín">San Joaquín</option>
                    <option value="San Miguel">San Miguel</option>
                    <option value="San Ramón">San Ramón</option>
                    <option value="Vitacura">Vitacura</option>
                    <option value="Puente Alto">Puente Alto</option>
                    <option value="Pirque">Pirque</option>
                    <option value="San José de Maipo">San José de Maipo</option>
                    <option value="Colina">Colina</option>
                    <option value="Lampa">Lampa</option>
                    <option value="Tiltil">Tiltil</option>
                    <option value="San Bernardo">San Bernardo</option>
                    <option value="Buin">Buin</option>
                    <option value="Calera de Tango">Calera de Tango</option>
                    <option value="Paine">Paine</option>
                    <option value="Melipilla">Melipilla</option>
                    <option value="Alhué">Alhué</option>
                    <option value="Curacaví">Curacaví</option>
                    <option value="María Pinto">María Pinto</option>
                    <option value="San Pedro">San Pedro</option>
                    <option value="Talagante">Talagante</option>
                    <option value="El Monte">El Monte</option>
                    <option value="Isla de Maipo">Isla de Maipo</option>
                    <option value="Padre Hurtado">Padre Hurtado</option>
                    <option value="Peñaflor">Peñaflor</option>
                </select>
                <!-- <input type="text" id="comuna_usuario" name = "comuna_usuario"> -->
            </div>
        </div>
    </div>

    <div class="labelreg">
        <!-- <label for="tipo_usuario">Perfil:</label> -->
        <label class="input-group-text-padding: 20px" fm="tipo_usuario">Perfil</label>
        <div class="datoreg">
            <div class="input-group sm-3">
                <select class="form-select-font-size:60%" style="background-color: blanchedalmond" id="tipo_usuario" name="tipo_usuario">
                    <option value="Cliente">Cliente</option>
                </select>
                <!-- <input type="text" id="imagen_usuario" name = "imagen_usuario"> -->
            </div>        
        </div>
    </div>

    <div class="labelreg">
        <label fm="password">Contraseña</label>
        <div class="datoreg">
            <input type="password" id="password" name="password" style="width: 150px">
        </div>
    </div>

    <div class="labelreg">
        <label fm="password_confirmation">Confirme Contraseña</label>
        <div class="datoreg">
            <input type="password" id="password_confirmation" name="password_confirmation" style="width: 150px">
        </div>
    </div>

    <div class="labelreg">
        <!-- <label for="vigencia_usuario">Activo:</label> -->
        <label class="input-group-text-padding: 20px" fm="vigencia_usuario">Activo</label>
        <div class="datoreg">
            <div class="input-group sm-3">
                <select class="form-select-font-size:60%" style="background-color: blanchedalmond" id="vigencia_usuario" name="vigencia_usuario">
                    <option value="Si">Si</option>
                </select>
                <!-- <input type="boolean" id="" name = "vigencia_usuario"> -->
            </div>        
        </div>
    </div>

    <div class="nuevabut">
        <!-- <input type="submit" name="Log In" value="Ingresar"> -->
        <button type="submit" name="Log In" class="btn btn-warning" style="margin-left:80px">Ingresar Registro </button>
    </div>

<!-- </form> -->
<% end %>  